<!DOCTYPE html>
<html>
  <head>
    <meta content=text/html; charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to 99 Cats, <%= @user.username %>!</h1>
    <p>Here you can create, save, and rent the most adorable cats in the world. Stay tuned to these emails for catastic discounts and the purrfect cats.</p>
    <br>
    <p>Thanks for joining the community!</p>
  </body>
</html>
